<!doctype html>
<html>
<head>
    <title>Add API</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body         { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">
<div class="col-sm-6 col-sm-offset-3">
    <h1><span class="glyphicon glyphicon-cog"></span> Add API</h1><BR/>

    <% if (typeof message !== 'undefined' && message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
    <% } %>

    <!-- LOGIN FORM -->
    <form action="/addapi" method="post">
        <div class="form-group">
            <label>API Name</label> <span class="glyphicon glyphicon-asterisk"></span>
            <input type="text" class="form-control" name="apiname">
        </div>
        <div class="form-group">
            <label>URL</label> <span class="glyphicon glyphicon-asterisk"></span>
            <input type="text" class="form-control" name="url">
        </div>
        <div class="form-group">
            <label>Endpoint</label> <span class="glyphicon glyphicon-asterisk"></span>
            <input type="text" class="form-control" name="endpoint">
        </div>
        <div class="form-group">
            <label>Enable Caching</label>
            <br>
            <label class="radio-inline">
              <input type="radio" name="enablecaching" id="yes" value="1"> Yes
            </label>
            <label class="radio-inline">
              <input type="radio" name="enablecaching" id="no" value="0" checked="true"> No
            </label>
        </div>
        <div class="form-group">
            <label>Cache Params</label>
            <input type="text" class="form-control" name="cacheparams">
        </div>
        <div class="form-group">
            <label>Cache TTL (in mins)</label>
            <input type="text" class="form-control" name="ttl">
        </div>
        <div class="form-group">
            <label>Enable Debugging</label>
            <br>
            <label class="radio-inline">
              <input type="radio" name="enabledebug" id="yes" value="1"> Yes
            </label>
            <label class="radio-inline">
              <input type="radio" name="enabledebug" id="no" value="0" checked="true"> No
            </label>
        </div>
        <div class="form-group">
            <label>Mandatory Params</label>
            <input type="text" class="form-control" name="reqparams">
        </div>
        <div class="form-group">
            <label>Validators</label>
            <input type="text" class="form-control" name="validators">
        </div>

        <button type="submit" class="btn btn-warning btn-lg">Add API</button>
        <a href="/home" class="btn btn-warning btn-lg">Cancel</a>
    </form>

    <hr>

</div>
</div>
</body>
</html>
