<!doctype html>
<html>
<head>
    <title>API Administration</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body         { padding-top:20px; }
    </style>
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="glyphicon glyphicon-cog"></span> API Administration</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>

    </div>
    <table class="table table-striped">
	        <th class="active">
	        	<b>API Name</b>
	        </th>
	        <th class="active">
	        	<b>URL</b>
	        </th>
	        <th class="active">
	        	<b>Action</b>
	        </th>
    	<% for(var i=0; i < apis.length; i++) { %>
	        <tr class="active">
		        <td class="active">
		        	<b><%= apis[i].apiname %></b>
		        </td>
		        <td class="active">
		        	<%= apis[i].url %>
		        </td>
		        <td class="active">
		        	<form action="/deleteapi/<%= apis[i].apiname %>" method="post">
		        		<a href="/updateapi/<%= apis[i].apiname %>" class="btn btn-primary btn-sm">Edit</a>
		        		<button class="btn btn-danger btn-sm">Delete</button>
		        	</form>
		        </td>
	        </tr>
    	<% } %>
    </table>
    <form action = "/addapi" method="get">
		<button class="btn btn-primary btn-lg center-block">Add New API</button>
	</form>
</div>
</body>
</html>
